<!doctype html>
<html>
<head>
		<meta charset="UTF-8">
		<title>SmartChoice</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

	<div id="navigation"><!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
			    <div class="navbar-header">
			        <span class="navbar-brand">SmartChoice</span>
			    </div>
			    <div id="navbar" class="navbar-collapse collapse">
			    	<ul class="nav navbar-nav navbar-left">
						<li class="dropdown">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				               	<span class="glyphicon glyphicon-menu-hamburger"></span>
				            </a>
				            <ul class="dropdown-menu">
				                <li><a href="/">Home</a></li>
				                <li role="separator" class="divider"></li>
				                

				                {{#if user}}

				                	<li class="dropdown-header">Hello, {{user.username}}!</li>
	 								<li><a href="/profile">Profile</a></li>
	 								<li><a href="/upload">Upload</a></li>
	 								<li><a href="/logout">Log Out</a></li>

								{{else}}

									<li><a href="/login">Log In</a></li>

								{{/if}}

				            </ul>
			            </li> 
			        </ul>	 
			    </div><!--/.nav-collapse -->
			</div><!-- container collapse -->
		</nav>
	</div><!-- End of navbar -->
	    
	{{{body}}}
</body>

</html>